.content {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  max-width: 440px;
  margin-top: 25vh;
  background: #fff;
  box-shadow: 0px 1px 5px 0px rgba(54, 54, 54, 0.35);
  -webkit-box-shadow: 0px 1px 5px 0px rgba(54, 54, 54, 0.35);
  -moz-box-shadow: 0px 1px 5px 0px rgba(54, 54, 54, 0.35);
}

.card__header {
  border-top: 4px solid #4c60cf;
  padding: 2.2% 6%;
  background: #fff;
}

.card__header__title,
.card__header__title2 {
  color: rgba(0, 0, 0, 0.767);
  margin-bottom: 0.5rem;
}

.card__header__title:after,
.card__header__title2:after {
  content: "";
  display: block;
  border: 0.1px solid #c2c2c2;
}

.card__header__title:after {
  width: 20%;
}

.card__header__title2:after {
  width: 30%;
}

@media screen and (max-width: 518px) {
  .card__header__title:after {
    width: 23%;
  }

  .card__header__title2:after {
    width: 37%;
  }

  .card__header__title,
  .card__header__title2 {
    font-size: 25px;
  }
}

.card__main {
  padding: 0% 6% 4% 6%;
  background: #fff;
  height: 85%;
}

._card__main__error {
  color: rgb(161, 8, 8);
  text-align: center;
  margin-bottom: 0.5rem;
}
