.button {
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 0.2rem;
  padding: .7rem;
  background: #4c60cf;
  // background: rgba(68, 0, 255, .7254901960784313);
  color: white;
  min-width: 8rem;
  box-sizing: border-box;
  transition: .1s;
}

.button:disabled {
  opacity: 0.6;
  cursor: wait;
}

.button:disabled:hover {
  transform: scale(1);
}

.button:hover {
  background: #3c51cc;
  transform: scale(1.05);
}