.button__link {
  background: transparent;
  border: none;
  cursor: pointer;
  width: 50% !important;
}

@media (max-width: 400px) {
  button {
    width: 100% !important;
  }
  .button__link {
    background: transparent;
    border: none;
    cursor: pointer;
    width: 100% !important;
    margin-top: 10px;
  }
}
