.graph {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-top: -4rem;

  tspan {
    font-size: 9px !important;
    font-weight: bold !important;
  }
}

.graphItem {
  display: grid;
  align-items: center;
}

.total {
  grid-column: 1/3;
  padding: 2rem;
  font-size: 2rem;
}

@media (max-width: 40rem) {
  .graph {
    grid-template-columns: 1fr;
  }

  .total {
    grid-column: 1;
  }
}